<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados do cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="simulacao-page">
    <div class="simulacao-container">
        <h1>Simular Financiamento</h1>
        <form method="POST">
            <input type="text" name="nome" placeholder="Seu Nome" required>
            <input type="text" name="telefone" placeholder="Seu Telefone" required>
            <button type="submit">Simular</button>
        </form>
    </div>
</body>
